=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class AdminsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List tenant admins
    # @param [Hash] opts the optional parameters
    # @return [V1AdminsGet200Response]
    def v1_admins_get(opts = {})
      data, _status_code, _headers = v1_admins_get_with_http_info(opts)
      data
    end

    # List tenant admins
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1AdminsGet200Response, Integer, Hash)>] V1AdminsGet200Response data, response status code and response headers
    def v1_admins_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminsApi.v1_admins_get ...'
      end
      # resource path
      local_var_path = '/v1/admins'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1AdminsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdminsApi.v1_admins_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminsApi#v1_admins_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an admin
    # Hard-delete. Cascade-drops the admin's sessions (immediate revocation). Same safety rails as PATCH disabled=true. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_admins_id_delete(id, opts = {})
      v1_admins_id_delete_with_http_info(id, opts)
      nil
    end

    # Delete an admin
    # Hard-delete. Cascade-drops the admin&#39;s sessions (immediate revocation). Same safety rails as PATCH disabled&#x3D;true. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_admins_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminsApi.v1_admins_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminsApi.v1_admins_id_delete"
      end
      # resource path
      local_var_path = '/v1/admins/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdminsApi.v1_admins_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminsApi#v1_admins_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an admin
    # Supply at least one of `password`, `display_name`, `role`, `disabled`.  **Safety rails.** A session bearer (adm_sess_*) cannot disable itself — use another admin or an API key (which bypasses the self-rail). Disabling the last active admin returns 409 to prevent orphaning the tenant from its console. 
    # @param id [String] 
    # @param v1_admins_id_patch_request [V1AdminsIdPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdminFull]
    def v1_admins_id_patch(id, v1_admins_id_patch_request, opts = {})
      data, _status_code, _headers = v1_admins_id_patch_with_http_info(id, v1_admins_id_patch_request, opts)
      data
    end

    # Update an admin
    # Supply at least one of &#x60;password&#x60;, &#x60;display_name&#x60;, &#x60;role&#x60;, &#x60;disabled&#x60;.  **Safety rails.** A session bearer (adm_sess_*) cannot disable itself — use another admin or an API key (which bypasses the self-rail). Disabling the last active admin returns 409 to prevent orphaning the tenant from its console. 
    # @param id [String] 
    # @param v1_admins_id_patch_request [V1AdminsIdPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminFull, Integer, Hash)>] AdminFull data, response status code and response headers
    def v1_admins_id_patch_with_http_info(id, v1_admins_id_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminsApi.v1_admins_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminsApi.v1_admins_id_patch"
      end
      # verify the required parameter 'v1_admins_id_patch_request' is set
      if @api_client.config.client_side_validation && v1_admins_id_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_admins_id_patch_request' when calling AdminsApi.v1_admins_id_patch"
      end
      # resource path
      local_var_path = '/v1/admins/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_admins_id_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdminFull'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdminsApi.v1_admins_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminsApi#v1_admins_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite a new admin
    # Creates a new tenant admin. If `password` is omitted, lockally generates a 16-char password and returns it ONCE in the response. Email is case-insensitive and unique per tenant. 
    # @param v1_admins_post_request [V1AdminsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdminFull]
    def v1_admins_post(v1_admins_post_request, opts = {})
      data, _status_code, _headers = v1_admins_post_with_http_info(v1_admins_post_request, opts)
      data
    end

    # Invite a new admin
    # Creates a new tenant admin. If &#x60;password&#x60; is omitted, lockally generates a 16-char password and returns it ONCE in the response. Email is case-insensitive and unique per tenant. 
    # @param v1_admins_post_request [V1AdminsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminFull, Integer, Hash)>] AdminFull data, response status code and response headers
    def v1_admins_post_with_http_info(v1_admins_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminsApi.v1_admins_post ...'
      end
      # verify the required parameter 'v1_admins_post_request' is set
      if @api_client.config.client_side_validation && v1_admins_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_admins_post_request' when calling AdminsApi.v1_admins_post"
      end
      # resource path
      local_var_path = '/v1/admins'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_admins_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdminFull'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdminsApi.v1_admins_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminsApi#v1_admins_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
