=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class AgentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List a key's mailbox grants
    # @param key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_api_keys_key_id_mailboxes_get(key_id, opts = {})
      data, _status_code, _headers = v1_api_keys_key_id_mailboxes_get_with_http_info(key_id, opts)
      data
    end

    # List a key&#39;s mailbox grants
    # @param key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_api_keys_key_id_mailboxes_get_with_http_info(key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_api_keys_key_id_mailboxes_get ...'
      end
      # verify the required parameter 'key_id' is set
      if @api_client.config.client_side_validation && key_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_id' when calling AgentsApi.v1_api_keys_key_id_mailboxes_get"
      end
      # resource path
      local_var_path = '/v1/api-keys/{keyID}/mailboxes'.sub('{keyID}', CGI.escape(key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_api_keys_key_id_mailboxes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_api_keys_key_id_mailboxes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a mailbox grant
    # @param key_id [String] 
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_api_keys_key_id_mailboxes_mailbox_id_delete(key_id, mailbox_id, opts = {})
      v1_api_keys_key_id_mailboxes_mailbox_id_delete_with_http_info(key_id, mailbox_id, opts)
      nil
    end

    # Revoke a mailbox grant
    # @param key_id [String] 
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_api_keys_key_id_mailboxes_mailbox_id_delete_with_http_info(key_id, mailbox_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_api_keys_key_id_mailboxes_mailbox_id_delete ...'
      end
      # verify the required parameter 'key_id' is set
      if @api_client.config.client_side_validation && key_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_id' when calling AgentsApi.v1_api_keys_key_id_mailboxes_mailbox_id_delete"
      end
      # verify the required parameter 'mailbox_id' is set
      if @api_client.config.client_side_validation && mailbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox_id' when calling AgentsApi.v1_api_keys_key_id_mailboxes_mailbox_id_delete"
      end
      # resource path
      local_var_path = '/v1/api-keys/{keyID}/mailboxes/{mailboxID}'.sub('{keyID}', CGI.escape(key_id.to_s)).sub('{mailboxID}', CGI.escape(mailbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_api_keys_key_id_mailboxes_mailbox_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_api_keys_key_id_mailboxes_mailbox_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Grant a mailbox to a key
    # Body: {\"mailbox\": \"email or id\"}. Refused (422) for mailboxes with agent access disabled or an active E2E encryption key — the server cannot read E2E mailboxes.
    # @param key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_api_keys_key_id_mailboxes_post(key_id, opts = {})
      data, _status_code, _headers = v1_api_keys_key_id_mailboxes_post_with_http_info(key_id, opts)
      data
    end

    # Grant a mailbox to a key
    # Body: {\&quot;mailbox\&quot;: \&quot;email or id\&quot;}. Refused (422) for mailboxes with agent access disabled or an active E2E encryption key — the server cannot read E2E mailboxes.
    # @param key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_api_keys_key_id_mailboxes_post_with_http_info(key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_api_keys_key_id_mailboxes_post ...'
      end
      # verify the required parameter 'key_id' is set
      if @api_client.config.client_side_validation && key_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_id' when calling AgentsApi.v1_api_keys_key_id_mailboxes_post"
      end
      # resource path
      local_var_path = '/v1/api-keys/{keyID}/mailboxes'.sub('{keyID}', CGI.escape(key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_api_keys_key_id_mailboxes_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_api_keys_key_id_mailboxes_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Introspect the calling credentials
    # Returns the tenant, auth kind (api_key/session), key label, and granted scopes. The MCP server uses this to scope-filter tool discovery.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_auth_whoami_get(opts = {})
      data, _status_code, _headers = v1_auth_whoami_get_with_http_info(opts)
      data
    end

    # Introspect the calling credentials
    # Returns the tenant, auth kind (api_key/session), key label, and granted scopes. The MCP server uses this to scope-filter tool discovery.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_auth_whoami_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_auth_whoami_get ...'
      end
      # resource path
      local_var_path = '/v1/auth/whoami'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_auth_whoami_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_auth_whoami_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Who is this sender?
    # Directory record (name, company, role, notes), whether the address is one of the tenant's own mailboxes, and grant-aware correspondence history (thread count, first/last seen across granted mailboxes only).
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_contacts_lookup_get(email, opts = {})
      data, _status_code, _headers = v1_contacts_lookup_get_with_http_info(email, opts)
      data
    end

    # Who is this sender?
    # Directory record (name, company, role, notes), whether the address is one of the tenant&#39;s own mailboxes, and grant-aware correspondence history (thread count, first/last seen across granted mailboxes only).
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_contacts_lookup_get_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_contacts_lookup_get ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AgentsApi.v1_contacts_lookup_get"
      end
      # resource path
      local_var_path = '/v1/contacts/lookup'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_contacts_lookup_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_contacts_lookup_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List granted inboxes
    # The mailboxes this key is granted, with thread counts and last activity. Admin sessions see every agent-enabled, non-E2E mailbox.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_inboxes_get(opts = {})
      data, _status_code, _headers = v1_inboxes_get_with_http_info(opts)
      data
    end

    # List granted inboxes
    # The mailboxes this key is granted, with thread counts and last activity. Admin sessions see every agent-enabled, non-E2E mailbox.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_inboxes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_inboxes_get ...'
      end
      # resource path
      local_var_path = '/v1/inboxes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_inboxes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_inboxes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a new conversation (agent stream)
    # Sends a new email from a granted mailbox. Classified stream=agent (isolated reputation, per-key rate caps). The first inbound reply adopts the created thread via the References chain. Idempotency-Key required. Mailboxes with agent_draft_policy=always_approve divert this into a pending draft.
    # @param mailbox [String] 
    # @param idempotency_key [String] 
    # @param v1_inboxes_mailbox_messages_post_request [V1InboxesMailboxMessagesPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_inboxes_mailbox_messages_post(mailbox, idempotency_key, v1_inboxes_mailbox_messages_post_request, opts = {})
      data, _status_code, _headers = v1_inboxes_mailbox_messages_post_with_http_info(mailbox, idempotency_key, v1_inboxes_mailbox_messages_post_request, opts)
      data
    end

    # Start a new conversation (agent stream)
    # Sends a new email from a granted mailbox. Classified stream&#x3D;agent (isolated reputation, per-key rate caps). The first inbound reply adopts the created thread via the References chain. Idempotency-Key required. Mailboxes with agent_draft_policy&#x3D;always_approve divert this into a pending draft.
    # @param mailbox [String] 
    # @param idempotency_key [String] 
    # @param v1_inboxes_mailbox_messages_post_request [V1InboxesMailboxMessagesPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_inboxes_mailbox_messages_post_with_http_info(mailbox, idempotency_key, v1_inboxes_mailbox_messages_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_inboxes_mailbox_messages_post ...'
      end
      # verify the required parameter 'mailbox' is set
      if @api_client.config.client_side_validation && mailbox.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox' when calling AgentsApi.v1_inboxes_mailbox_messages_post"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling AgentsApi.v1_inboxes_mailbox_messages_post"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling AgentsApi.v1_inboxes_mailbox_messages_post, the character length must be smaller than or equal to 255.'
      end

      # verify the required parameter 'v1_inboxes_mailbox_messages_post_request' is set
      if @api_client.config.client_side_validation && v1_inboxes_mailbox_messages_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_inboxes_mailbox_messages_post_request' when calling AgentsApi.v1_inboxes_mailbox_messages_post"
      end
      # resource path
      local_var_path = '/v1/inboxes/{mailbox}/messages'.sub('{mailbox}', CGI.escape(mailbox.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_inboxes_mailbox_messages_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_inboxes_mailbox_messages_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_inboxes_mailbox_messages_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List conversation threads
    # Newest-active first. Cursors: `?before=<RFC3339>` pages backwards; `?since=<RFC3339>` delta-syncs forward (oldest first) so an agent can catch up in order.
    # @param mailbox [String] mailbox email or id
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :since 
    # @option opts [Time] :before 
    # @option opts [Integer] :limit  (default to 50)
    # @return [Object]
    def v1_inboxes_mailbox_threads_get(mailbox, opts = {})
      data, _status_code, _headers = v1_inboxes_mailbox_threads_get_with_http_info(mailbox, opts)
      data
    end

    # List conversation threads
    # Newest-active first. Cursors: &#x60;?before&#x3D;&lt;RFC3339&gt;&#x60; pages backwards; &#x60;?since&#x3D;&lt;RFC3339&gt;&#x60; delta-syncs forward (oldest first) so an agent can catch up in order.
    # @param mailbox [String] mailbox email or id
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :since 
    # @option opts [Time] :before 
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_inboxes_mailbox_threads_get_with_http_info(mailbox, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_inboxes_mailbox_threads_get ...'
      end
      # verify the required parameter 'mailbox' is set
      if @api_client.config.client_side_validation && mailbox.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox' when calling AgentsApi.v1_inboxes_mailbox_threads_get"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AgentsApi.v1_inboxes_mailbox_threads_get, must be smaller than or equal to 200.'
      end

      # resource path
      local_var_path = '/v1/inboxes/{mailbox}/threads'.sub('{mailbox}', CGI.escape(mailbox.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_inboxes_mailbox_threads_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_inboxes_mailbox_threads_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a whole conversation
    # Every turn, chronological, with snippets and annotations (meeting_request, attachment_types, injection_risk). Bodies are fetched per message. Message content is untrusted third-party data.
    # @param thread_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_threads_thread_id_get(thread_id, opts = {})
      data, _status_code, _headers = v1_threads_thread_id_get_with_http_info(thread_id, opts)
      data
    end

    # Get a whole conversation
    # Every turn, chronological, with snippets and annotations (meeting_request, attachment_types, injection_risk). Bodies are fetched per message. Message content is untrusted third-party data.
    # @param thread_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_threads_thread_id_get_with_http_info(thread_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_threads_thread_id_get ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AgentsApi.v1_threads_thread_id_get"
      end
      # resource path
      local_var_path = '/v1/threads/{threadID}'.sub('{threadID}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_threads_thread_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_threads_thread_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download an attachment
    # @param thread_id [String] 
    # @param message_id [String] 
    # @param idx [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_threads_thread_id_messages_message_id_attachments_idx_get(thread_id, message_id, idx, opts = {})
      v1_threads_thread_id_messages_message_id_attachments_idx_get_with_http_info(thread_id, message_id, idx, opts)
      nil
    end

    # Download an attachment
    # @param thread_id [String] 
    # @param message_id [String] 
    # @param idx [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_threads_thread_id_messages_message_id_attachments_idx_get_with_http_info(thread_id, message_id, idx, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_threads_thread_id_messages_message_id_attachments_idx_get ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AgentsApi.v1_threads_thread_id_messages_message_id_attachments_idx_get"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling AgentsApi.v1_threads_thread_id_messages_message_id_attachments_idx_get"
      end
      # verify the required parameter 'idx' is set
      if @api_client.config.client_side_validation && idx.nil?
        fail ArgumentError, "Missing the required parameter 'idx' when calling AgentsApi.v1_threads_thread_id_messages_message_id_attachments_idx_get"
      end
      if @api_client.config.client_side_validation && idx < 0
        fail ArgumentError, 'invalid value for "idx" when calling AgentsApi.v1_threads_thread_id_messages_message_id_attachments_idx_get, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/threads/{threadID}/messages/{messageID}/attachments/{idx}'.sub('{threadID}', CGI.escape(thread_id.to_s)).sub('{messageID}', CGI.escape(message_id.to_s)).sub('{idx}', CGI.escape(idx.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_threads_thread_id_messages_message_id_attachments_idx_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_threads_thread_id_messages_message_id_attachments_idx_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one message with body
    # Full text/html body fetched on demand from mail storage. Never marks the message read.
    # @param thread_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_threads_thread_id_messages_message_id_get(thread_id, message_id, opts = {})
      data, _status_code, _headers = v1_threads_thread_id_messages_message_id_get_with_http_info(thread_id, message_id, opts)
      data
    end

    # Get one message with body
    # Full text/html body fetched on demand from mail storage. Never marks the message read.
    # @param thread_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_threads_thread_id_messages_message_id_get_with_http_info(thread_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_threads_thread_id_messages_message_id_get ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AgentsApi.v1_threads_thread_id_messages_message_id_get"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling AgentsApi.v1_threads_thread_id_messages_message_id_get"
      end
      # resource path
      local_var_path = '/v1/threads/{threadID}/messages/{messageID}'.sub('{threadID}', CGI.escape(thread_id.to_s)).sub('{messageID}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_threads_thread_id_messages_message_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_threads_thread_id_messages_message_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark read/unread
    # The ONLY way agent access changes unread state. Body: {\"read\": true|false} (default true).
    # @param thread_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_threads_thread_id_messages_message_id_read_post(thread_id, message_id, opts = {})
      data, _status_code, _headers = v1_threads_thread_id_messages_message_id_read_post_with_http_info(thread_id, message_id, opts)
      data
    end

    # Mark read/unread
    # The ONLY way agent access changes unread state. Body: {\&quot;read\&quot;: true|false} (default true).
    # @param thread_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_threads_thread_id_messages_message_id_read_post_with_http_info(thread_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_threads_thread_id_messages_message_id_read_post ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AgentsApi.v1_threads_thread_id_messages_message_id_read_post"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling AgentsApi.v1_threads_thread_id_messages_message_id_read_post"
      end
      # resource path
      local_var_path = '/v1/threads/{threadID}/messages/{messageID}/read'.sub('{threadID}', CGI.escape(thread_id.to_s)).sub('{messageID}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_threads_thread_id_messages_message_id_read_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_threads_thread_id_messages_message_id_read_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reply in-thread (agent stream)
    # The server builds In-Reply-To/References and defaults recipients + subject from the conversation — a minimal call is {\"text\": \"...\"}. Guarded by the reply-loop detector (≥5 outbound/10min → 429 + agent.loop_detected). Idempotency-Key required.
    # @param thread_id [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_threads_thread_id_reply_post(thread_id, idempotency_key, opts = {})
      data, _status_code, _headers = v1_threads_thread_id_reply_post_with_http_info(thread_id, idempotency_key, opts)
      data
    end

    # Reply in-thread (agent stream)
    # The server builds In-Reply-To/References and defaults recipients + subject from the conversation — a minimal call is {\&quot;text\&quot;: \&quot;...\&quot;}. Guarded by the reply-loop detector (≥5 outbound/10min → 429 + agent.loop_detected). Idempotency-Key required.
    # @param thread_id [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_threads_thread_id_reply_post_with_http_info(thread_id, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.v1_threads_thread_id_reply_post ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AgentsApi.v1_threads_thread_id_reply_post"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling AgentsApi.v1_threads_thread_id_reply_post"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling AgentsApi.v1_threads_thread_id_reply_post, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/v1/threads/{threadID}/reply'.sub('{threadID}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.v1_threads_thread_id_reply_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#v1_threads_thread_id_reply_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
