=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a plan checkout session
    # @param create_billing_checkout_request [CreateBillingCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBillingCheckout200Response]
    def create_billing_checkout(create_billing_checkout_request, opts = {})
      data, _status_code, _headers = create_billing_checkout_with_http_info(create_billing_checkout_request, opts)
      data
    end

    # Create a plan checkout session
    # @param create_billing_checkout_request [CreateBillingCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBillingCheckout200Response, Integer, Hash)>] CreateBillingCheckout200Response data, response status code and response headers
    def create_billing_checkout_with_http_info(create_billing_checkout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.create_billing_checkout ...'
      end
      # verify the required parameter 'create_billing_checkout_request' is set
      if @api_client.config.client_side_validation && create_billing_checkout_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_billing_checkout_request' when calling BillingApi.create_billing_checkout"
      end
      # resource path
      local_var_path = '/v1/billing/checkout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_billing_checkout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBillingCheckout200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.create_billing_checkout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#create_billing_checkout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a send-units checkout session
    # @param create_units_checkout_request [CreateUnitsCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateUnitsCheckout200Response]
    def create_units_checkout(create_units_checkout_request, opts = {})
      data, _status_code, _headers = create_units_checkout_with_http_info(create_units_checkout_request, opts)
      data
    end

    # Create a send-units checkout session
    # @param create_units_checkout_request [CreateUnitsCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateUnitsCheckout200Response, Integer, Hash)>] CreateUnitsCheckout200Response data, response status code and response headers
    def create_units_checkout_with_http_info(create_units_checkout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.create_units_checkout ...'
      end
      # verify the required parameter 'create_units_checkout_request' is set
      if @api_client.config.client_side_validation && create_units_checkout_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_units_checkout_request' when calling BillingApi.create_units_checkout"
      end
      # resource path
      local_var_path = '/v1/billing/units/checkout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_units_checkout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateUnitsCheckout200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.create_units_checkout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#create_units_checkout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get billing status
    # @param [Hash] opts the optional parameters
    # @return [BillingStatus]
    def get_billing(opts = {})
      data, _status_code, _headers = get_billing_with_http_info(opts)
      data
    end

    # Get billing status
    # @param [Hash] opts the optional parameters
    # @return [Array<(BillingStatus, Integer, Hash)>] BillingStatus data, response status code and response headers
    def get_billing_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_billing ...'
      end
      # resource path
      local_var_path = '/v1/billing'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.get_billing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_billing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
