=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class CalendarsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a member to a calendar
    # @param id [String] 
    # @param add_calendar_member_request [AddCalendarMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CalendarMember]
    def add_calendar_member(id, add_calendar_member_request, opts = {})
      data, _status_code, _headers = add_calendar_member_with_http_info(id, add_calendar_member_request, opts)
      data
    end

    # Add a member to a calendar
    # @param id [String] 
    # @param add_calendar_member_request [AddCalendarMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarMember, Integer, Hash)>] CalendarMember data, response status code and response headers
    def add_calendar_member_with_http_info(id, add_calendar_member_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.add_calendar_member ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.add_calendar_member"
      end
      # verify the required parameter 'add_calendar_member_request' is set
      if @api_client.config.client_side_validation && add_calendar_member_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_calendar_member_request' when calling CalendarsApi.add_calendar_member"
      end
      # resource path
      local_var_path = '/v1/calendars/{id}/members'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_calendar_member_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarMember'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.add_calendar_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#add_calendar_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a calendar
    # @param create_calendar_request [CreateCalendarRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Calendar]
    def create_calendar(create_calendar_request, opts = {})
      data, _status_code, _headers = create_calendar_with_http_info(create_calendar_request, opts)
      data
    end

    # Create a calendar
    # @param create_calendar_request [CreateCalendarRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Calendar, Integer, Hash)>] Calendar data, response status code and response headers
    def create_calendar_with_http_info(create_calendar_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.create_calendar ...'
      end
      # verify the required parameter 'create_calendar_request' is set
      if @api_client.config.client_side_validation && create_calendar_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_calendar_request' when calling CalendarsApi.create_calendar"
      end
      # resource path
      local_var_path = '/v1/calendars'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_calendar_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Calendar'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.create_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#create_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an event in a calendar
    # @param id [String] 
    # @param create_calendar_event_request [CreateCalendarEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CalendarEvent]
    def create_calendar_event(id, create_calendar_event_request, opts = {})
      data, _status_code, _headers = create_calendar_event_with_http_info(id, create_calendar_event_request, opts)
      data
    end

    # Create an event in a calendar
    # @param id [String] 
    # @param create_calendar_event_request [CreateCalendarEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarEvent, Integer, Hash)>] CalendarEvent data, response status code and response headers
    def create_calendar_event_with_http_info(id, create_calendar_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.create_calendar_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.create_calendar_event"
      end
      # verify the required parameter 'create_calendar_event_request' is set
      if @api_client.config.client_side_validation && create_calendar_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_calendar_event_request' when calling CalendarsApi.create_calendar_event"
      end
      # resource path
      local_var_path = '/v1/calendars/{id}/events'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_calendar_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.create_calendar_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#create_calendar_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a calendar integration
    # @param create_calendar_integration_request [CreateCalendarIntegrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CalendarIntegration]
    def create_calendar_integration(create_calendar_integration_request, opts = {})
      data, _status_code, _headers = create_calendar_integration_with_http_info(create_calendar_integration_request, opts)
      data
    end

    # Create a calendar integration
    # @param create_calendar_integration_request [CreateCalendarIntegrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarIntegration, Integer, Hash)>] CalendarIntegration data, response status code and response headers
    def create_calendar_integration_with_http_info(create_calendar_integration_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.create_calendar_integration ...'
      end
      # verify the required parameter 'create_calendar_integration_request' is set
      if @api_client.config.client_side_validation && create_calendar_integration_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_calendar_integration_request' when calling CalendarsApi.create_calendar_integration"
      end
      # resource path
      local_var_path = '/v1/calendar-integrations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_calendar_integration_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarIntegration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.create_calendar_integration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#create_calendar_integration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a calendar
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_calendar(id, opts = {})
      delete_calendar_with_http_info(id, opts)
      nil
    end

    # Delete a calendar
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_calendar_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.delete_calendar ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.delete_calendar"
      end
      # resource path
      local_var_path = '/v1/calendars/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.delete_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#delete_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a calendar event
    # @param id [String] 
    # @param event_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_calendar_event(id, event_id, opts = {})
      delete_calendar_event_with_http_info(id, event_id, opts)
      nil
    end

    # Delete a calendar event
    # @param id [String] 
    # @param event_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_calendar_event_with_http_info(id, event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.delete_calendar_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.delete_calendar_event"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling CalendarsApi.delete_calendar_event"
      end
      # resource path
      local_var_path = '/v1/calendars/{id}/events/{eventId}'.sub('{id}', CGI.escape(id.to_s)).sub('{eventId}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.delete_calendar_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#delete_calendar_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a calendar integration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_calendar_integration(id, opts = {})
      delete_calendar_integration_with_http_info(id, opts)
      nil
    end

    # Delete a calendar integration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_calendar_integration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.delete_calendar_integration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.delete_calendar_integration"
      end
      # resource path
      local_var_path = '/v1/calendar-integrations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.delete_calendar_integration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#delete_calendar_integration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a calendar
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Calendar]
    def get_calendar(id, opts = {})
      data, _status_code, _headers = get_calendar_with_http_info(id, opts)
      data
    end

    # Get a calendar
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Calendar, Integer, Hash)>] Calendar data, response status code and response headers
    def get_calendar_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.get_calendar ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.get_calendar"
      end
      # resource path
      local_var_path = '/v1/calendars/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Calendar'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.get_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#get_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get calendar policies
    # @param [Hash] opts the optional parameters
    # @return [CalendarPolicies]
    def get_calendar_policies(opts = {})
      data, _status_code, _headers = get_calendar_policies_with_http_info(opts)
      data
    end

    # Get calendar policies
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarPolicies, Integer, Hash)>] CalendarPolicies data, response status code and response headers
    def get_calendar_policies_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.get_calendar_policies ...'
      end
      # resource path
      local_var_path = '/v1/calendar-policies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarPolicies'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.get_calendar_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#get_calendar_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get calendar security overview
    # @param [Hash] opts the optional parameters
    # @return [GetCalendarSecurity200Response]
    def get_calendar_security(opts = {})
      data, _status_code, _headers = get_calendar_security_with_http_info(opts)
      data
    end

    # Get calendar security overview
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCalendarSecurity200Response, Integer, Hash)>] GetCalendarSecurity200Response data, response status code and response headers
    def get_calendar_security_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.get_calendar_security ...'
      end
      # resource path
      local_var_path = '/v1/calendar-security'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCalendarSecurity200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.get_calendar_security",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#get_calendar_security\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List events in a calendar
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from 
    # @option opts [Time] :to 
    # @return [ListCalendarEvents200Response]
    def list_calendar_events(id, opts = {})
      data, _status_code, _headers = list_calendar_events_with_http_info(id, opts)
      data
    end

    # List events in a calendar
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from 
    # @option opts [Time] :to 
    # @return [Array<(ListCalendarEvents200Response, Integer, Hash)>] ListCalendarEvents200Response data, response status code and response headers
    def list_calendar_events_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.list_calendar_events ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.list_calendar_events"
      end
      # resource path
      local_var_path = '/v1/calendars/{id}/events'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCalendarEvents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.list_calendar_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#list_calendar_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List calendar integrations
    # @param [Hash] opts the optional parameters
    # @return [ListCalendarIntegrations200Response]
    def list_calendar_integrations(opts = {})
      data, _status_code, _headers = list_calendar_integrations_with_http_info(opts)
      data
    end

    # List calendar integrations
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCalendarIntegrations200Response, Integer, Hash)>] ListCalendarIntegrations200Response data, response status code and response headers
    def list_calendar_integrations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.list_calendar_integrations ...'
      end
      # resource path
      local_var_path = '/v1/calendar-integrations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCalendarIntegrations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.list_calendar_integrations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#list_calendar_integrations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List calendar members
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListCalendarMembers200Response]
    def list_calendar_members(id, opts = {})
      data, _status_code, _headers = list_calendar_members_with_http_info(id, opts)
      data
    end

    # List calendar members
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCalendarMembers200Response, Integer, Hash)>] ListCalendarMembers200Response data, response status code and response headers
    def list_calendar_members_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.list_calendar_members ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.list_calendar_members"
      end
      # resource path
      local_var_path = '/v1/calendars/{id}/members'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCalendarMembers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.list_calendar_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#list_calendar_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List calendars
    # @param [Hash] opts the optional parameters
    # @return [ListCalendars200Response]
    def list_calendars(opts = {})
      data, _status_code, _headers = list_calendars_with_http_info(opts)
      data
    end

    # List calendars
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCalendars200Response, Integer, Hash)>] ListCalendars200Response data, response status code and response headers
    def list_calendars_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.list_calendars ...'
      end
      # resource path
      local_var_path = '/v1/calendars'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCalendars200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.list_calendars",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#list_calendars\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a member from a calendar
    # @param id [String] 
    # @param member_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_calendar_member(id, member_id, opts = {})
      remove_calendar_member_with_http_info(id, member_id, opts)
      nil
    end

    # Remove a member from a calendar
    # @param id [String] 
    # @param member_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_calendar_member_with_http_info(id, member_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.remove_calendar_member ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.remove_calendar_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling CalendarsApi.remove_calendar_member"
      end
      # resource path
      local_var_path = '/v1/calendars/{id}/members/{memberId}'.sub('{id}', CGI.escape(id.to_s)).sub('{memberId}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.remove_calendar_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#remove_calendar_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger sync for a calendar integration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CalendarIntegration]
    def sync_calendar_integration(id, opts = {})
      data, _status_code, _headers = sync_calendar_integration_with_http_info(id, opts)
      data
    end

    # Trigger sync for a calendar integration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarIntegration, Integer, Hash)>] CalendarIntegration data, response status code and response headers
    def sync_calendar_integration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.sync_calendar_integration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.sync_calendar_integration"
      end
      # resource path
      local_var_path = '/v1/calendar-integrations/{id}/sync'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarIntegration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.sync_calendar_integration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#sync_calendar_integration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a calendar
    # @param id [String] 
    # @param update_calendar_request [UpdateCalendarRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Calendar]
    def update_calendar(id, update_calendar_request, opts = {})
      data, _status_code, _headers = update_calendar_with_http_info(id, update_calendar_request, opts)
      data
    end

    # Update a calendar
    # @param id [String] 
    # @param update_calendar_request [UpdateCalendarRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Calendar, Integer, Hash)>] Calendar data, response status code and response headers
    def update_calendar_with_http_info(id, update_calendar_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.update_calendar ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.update_calendar"
      end
      # verify the required parameter 'update_calendar_request' is set
      if @api_client.config.client_side_validation && update_calendar_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_calendar_request' when calling CalendarsApi.update_calendar"
      end
      # resource path
      local_var_path = '/v1/calendars/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_calendar_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Calendar'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.update_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#update_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a calendar event
    # @param id [String] 
    # @param event_id [String] 
    # @param update_calendar_event_request [UpdateCalendarEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CalendarEvent]
    def update_calendar_event(id, event_id, update_calendar_event_request, opts = {})
      data, _status_code, _headers = update_calendar_event_with_http_info(id, event_id, update_calendar_event_request, opts)
      data
    end

    # Update a calendar event
    # @param id [String] 
    # @param event_id [String] 
    # @param update_calendar_event_request [UpdateCalendarEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarEvent, Integer, Hash)>] CalendarEvent data, response status code and response headers
    def update_calendar_event_with_http_info(id, event_id, update_calendar_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.update_calendar_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.update_calendar_event"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling CalendarsApi.update_calendar_event"
      end
      # verify the required parameter 'update_calendar_event_request' is set
      if @api_client.config.client_side_validation && update_calendar_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_calendar_event_request' when calling CalendarsApi.update_calendar_event"
      end
      # resource path
      local_var_path = '/v1/calendars/{id}/events/{eventId}'.sub('{id}', CGI.escape(id.to_s)).sub('{eventId}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_calendar_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.update_calendar_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#update_calendar_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a calendar integration
    # @param id [String] 
    # @param update_calendar_integration_request [UpdateCalendarIntegrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CalendarIntegration]
    def update_calendar_integration(id, update_calendar_integration_request, opts = {})
      data, _status_code, _headers = update_calendar_integration_with_http_info(id, update_calendar_integration_request, opts)
      data
    end

    # Update a calendar integration
    # @param id [String] 
    # @param update_calendar_integration_request [UpdateCalendarIntegrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarIntegration, Integer, Hash)>] CalendarIntegration data, response status code and response headers
    def update_calendar_integration_with_http_info(id, update_calendar_integration_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.update_calendar_integration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.update_calendar_integration"
      end
      # verify the required parameter 'update_calendar_integration_request' is set
      if @api_client.config.client_side_validation && update_calendar_integration_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_calendar_integration_request' when calling CalendarsApi.update_calendar_integration"
      end
      # resource path
      local_var_path = '/v1/calendar-integrations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_calendar_integration_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarIntegration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.update_calendar_integration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#update_calendar_integration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a calendar member's role
    # @param id [String] 
    # @param member_id [String] 
    # @param update_calendar_member_request [UpdateCalendarMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CalendarMember]
    def update_calendar_member(id, member_id, update_calendar_member_request, opts = {})
      data, _status_code, _headers = update_calendar_member_with_http_info(id, member_id, update_calendar_member_request, opts)
      data
    end

    # Update a calendar member&#39;s role
    # @param id [String] 
    # @param member_id [String] 
    # @param update_calendar_member_request [UpdateCalendarMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarMember, Integer, Hash)>] CalendarMember data, response status code and response headers
    def update_calendar_member_with_http_info(id, member_id, update_calendar_member_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.update_calendar_member ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CalendarsApi.update_calendar_member"
      end
      # verify the required parameter 'member_id' is set
      if @api_client.config.client_side_validation && member_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_id' when calling CalendarsApi.update_calendar_member"
      end
      # verify the required parameter 'update_calendar_member_request' is set
      if @api_client.config.client_side_validation && update_calendar_member_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_calendar_member_request' when calling CalendarsApi.update_calendar_member"
      end
      # resource path
      local_var_path = '/v1/calendars/{id}/members/{memberId}'.sub('{id}', CGI.escape(id.to_s)).sub('{memberId}', CGI.escape(member_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_calendar_member_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarMember'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.update_calendar_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#update_calendar_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update calendar policies
    # @param update_calendar_policies_request [UpdateCalendarPoliciesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CalendarPolicies]
    def update_calendar_policies(update_calendar_policies_request, opts = {})
      data, _status_code, _headers = update_calendar_policies_with_http_info(update_calendar_policies_request, opts)
      data
    end

    # Update calendar policies
    # @param update_calendar_policies_request [UpdateCalendarPoliciesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarPolicies, Integer, Hash)>] CalendarPolicies data, response status code and response headers
    def update_calendar_policies_with_http_info(update_calendar_policies_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CalendarsApi.update_calendar_policies ...'
      end
      # verify the required parameter 'update_calendar_policies_request' is set
      if @api_client.config.client_side_validation && update_calendar_policies_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_calendar_policies_request' when calling CalendarsApi.update_calendar_policies"
      end
      # resource path
      local_var_path = '/v1/calendar-policies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_calendar_policies_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarPolicies'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CalendarsApi.update_calendar_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CalendarsApi#update_calendar_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
