=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class ContactListsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a member to a contact list
    # @param id [String] 
    # @param add_contact_list_member_request [AddContactListMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_contact_list_member(id, add_contact_list_member_request, opts = {})
      add_contact_list_member_with_http_info(id, add_contact_list_member_request, opts)
      nil
    end

    # Add a member to a contact list
    # @param id [String] 
    # @param add_contact_list_member_request [AddContactListMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def add_contact_list_member_with_http_info(id, add_contact_list_member_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactListsApi.add_contact_list_member ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContactListsApi.add_contact_list_member"
      end
      # verify the required parameter 'add_contact_list_member_request' is set
      if @api_client.config.client_side_validation && add_contact_list_member_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_contact_list_member_request' when calling ContactListsApi.add_contact_list_member"
      end
      # resource path
      local_var_path = '/v1/contact-lists/{id}/members'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_contact_list_member_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactListsApi.add_contact_list_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactListsApi#add_contact_list_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a contact list
    # @param create_contact_list_request [CreateContactListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ContactList]
    def create_contact_list(create_contact_list_request, opts = {})
      data, _status_code, _headers = create_contact_list_with_http_info(create_contact_list_request, opts)
      data
    end

    # Create a contact list
    # @param create_contact_list_request [CreateContactListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactList, Integer, Hash)>] ContactList data, response status code and response headers
    def create_contact_list_with_http_info(create_contact_list_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactListsApi.create_contact_list ...'
      end
      # verify the required parameter 'create_contact_list_request' is set
      if @api_client.config.client_side_validation && create_contact_list_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_contact_list_request' when calling ContactListsApi.create_contact_list"
      end
      # resource path
      local_var_path = '/v1/contact-lists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_contact_list_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ContactList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactListsApi.create_contact_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactListsApi#create_contact_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a contact list
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact_list(id, opts = {})
      delete_contact_list_with_http_info(id, opts)
      nil
    end

    # Delete a contact list
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_contact_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactListsApi.delete_contact_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContactListsApi.delete_contact_list"
      end
      # resource path
      local_var_path = '/v1/contact-lists/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactListsApi.delete_contact_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactListsApi#delete_contact_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a contact list with members
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetContactList200Response]
    def get_contact_list(id, opts = {})
      data, _status_code, _headers = get_contact_list_with_http_info(id, opts)
      data
    end

    # Get a contact list with members
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetContactList200Response, Integer, Hash)>] GetContactList200Response data, response status code and response headers
    def get_contact_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactListsApi.get_contact_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContactListsApi.get_contact_list"
      end
      # resource path
      local_var_path = '/v1/contact-lists/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetContactList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactListsApi.get_contact_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactListsApi#get_contact_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List contact lists
    # @param [Hash] opts the optional parameters
    # @return [ListContactLists200Response]
    def list_contact_lists(opts = {})
      data, _status_code, _headers = list_contact_lists_with_http_info(opts)
      data
    end

    # List contact lists
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListContactLists200Response, Integer, Hash)>] ListContactLists200Response data, response status code and response headers
    def list_contact_lists_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactListsApi.list_contact_lists ...'
      end
      # resource path
      local_var_path = '/v1/contact-lists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListContactLists200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactListsApi.list_contact_lists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactListsApi#list_contact_lists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a member from a contact list
    # @param id [String] 
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_contact_list_member(id, contact_id, opts = {})
      remove_contact_list_member_with_http_info(id, contact_id, opts)
      nil
    end

    # Remove a member from a contact list
    # @param id [String] 
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_contact_list_member_with_http_info(id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactListsApi.remove_contact_list_member ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContactListsApi.remove_contact_list_member"
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactListsApi.remove_contact_list_member"
      end
      # resource path
      local_var_path = '/v1/contact-lists/{id}/members/{contactId}'.sub('{id}', CGI.escape(id.to_s)).sub('{contactId}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactListsApi.remove_contact_list_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactListsApi#remove_contact_list_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a contact list
    # @param id [String] 
    # @param update_contact_list_request [UpdateContactListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ContactList]
    def update_contact_list(id, update_contact_list_request, opts = {})
      data, _status_code, _headers = update_contact_list_with_http_info(id, update_contact_list_request, opts)
      data
    end

    # Update a contact list
    # @param id [String] 
    # @param update_contact_list_request [UpdateContactListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactList, Integer, Hash)>] ContactList data, response status code and response headers
    def update_contact_list_with_http_info(id, update_contact_list_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactListsApi.update_contact_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContactListsApi.update_contact_list"
      end
      # verify the required parameter 'update_contact_list_request' is set
      if @api_client.config.client_side_validation && update_contact_list_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_contact_list_request' when calling ContactListsApi.update_contact_list"
      end
      # resource path
      local_var_path = '/v1/contact-lists/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_contact_list_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ContactList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactListsApi.update_contact_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactListsApi#update_contact_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
