=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class DistributionListsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a distribution list
    # @param create_distribution_list_request [CreateDistributionListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DistributionListDetail]
    def create_distribution_list(create_distribution_list_request, opts = {})
      data, _status_code, _headers = create_distribution_list_with_http_info(create_distribution_list_request, opts)
      data
    end

    # Create a distribution list
    # @param create_distribution_list_request [CreateDistributionListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DistributionListDetail, Integer, Hash)>] DistributionListDetail data, response status code and response headers
    def create_distribution_list_with_http_info(create_distribution_list_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DistributionListsApi.create_distribution_list ...'
      end
      # verify the required parameter 'create_distribution_list_request' is set
      if @api_client.config.client_side_validation && create_distribution_list_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_distribution_list_request' when calling DistributionListsApi.create_distribution_list"
      end
      # resource path
      local_var_path = '/v1/distribution-lists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_distribution_list_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DistributionListDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DistributionListsApi.create_distribution_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DistributionListsApi#create_distribution_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a distribution list
    # @param address [String] Distribution list email address
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_distribution_list(address, opts = {})
      delete_distribution_list_with_http_info(address, opts)
      nil
    end

    # Delete a distribution list
    # @param address [String] Distribution list email address
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_distribution_list_with_http_info(address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DistributionListsApi.delete_distribution_list ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling DistributionListsApi.delete_distribution_list"
      end
      # resource path
      local_var_path = '/v1/distribution-lists/{address}'.sub('{address}', CGI.escape(address.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DistributionListsApi.delete_distribution_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DistributionListsApi#delete_distribution_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a distribution list
    # @param address [String] Distribution list email address
    # @param [Hash] opts the optional parameters
    # @return [DistributionListDetail]
    def get_distribution_list(address, opts = {})
      data, _status_code, _headers = get_distribution_list_with_http_info(address, opts)
      data
    end

    # Get a distribution list
    # @param address [String] Distribution list email address
    # @param [Hash] opts the optional parameters
    # @return [Array<(DistributionListDetail, Integer, Hash)>] DistributionListDetail data, response status code and response headers
    def get_distribution_list_with_http_info(address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DistributionListsApi.get_distribution_list ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling DistributionListsApi.get_distribution_list"
      end
      # resource path
      local_var_path = '/v1/distribution-lists/{address}'.sub('{address}', CGI.escape(address.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DistributionListDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DistributionListsApi.get_distribution_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DistributionListsApi#get_distribution_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List distribution lists
    # @param [Hash] opts the optional parameters
    # @return [ListDistributionLists200Response]
    def list_distribution_lists(opts = {})
      data, _status_code, _headers = list_distribution_lists_with_http_info(opts)
      data
    end

    # List distribution lists
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListDistributionLists200Response, Integer, Hash)>] ListDistributionLists200Response data, response status code and response headers
    def list_distribution_lists_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DistributionListsApi.list_distribution_lists ...'
      end
      # resource path
      local_var_path = '/v1/distribution-lists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListDistributionLists200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DistributionListsApi.list_distribution_lists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DistributionListsApi#list_distribution_lists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace distribution list members
    # @param address [String] Distribution list email address
    # @param replace_distribution_list_members_request [ReplaceDistributionListMembersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ReplaceDistributionListMembers200Response]
    def replace_distribution_list_members(address, replace_distribution_list_members_request, opts = {})
      data, _status_code, _headers = replace_distribution_list_members_with_http_info(address, replace_distribution_list_members_request, opts)
      data
    end

    # Replace distribution list members
    # @param address [String] Distribution list email address
    # @param replace_distribution_list_members_request [ReplaceDistributionListMembersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReplaceDistributionListMembers200Response, Integer, Hash)>] ReplaceDistributionListMembers200Response data, response status code and response headers
    def replace_distribution_list_members_with_http_info(address, replace_distribution_list_members_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DistributionListsApi.replace_distribution_list_members ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling DistributionListsApi.replace_distribution_list_members"
      end
      # verify the required parameter 'replace_distribution_list_members_request' is set
      if @api_client.config.client_side_validation && replace_distribution_list_members_request.nil?
        fail ArgumentError, "Missing the required parameter 'replace_distribution_list_members_request' when calling DistributionListsApi.replace_distribution_list_members"
      end
      # resource path
      local_var_path = '/v1/distribution-lists/{address}/members'.sub('{address}', CGI.escape(address.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(replace_distribution_list_members_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReplaceDistributionListMembers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DistributionListsApi.replace_distribution_list_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DistributionListsApi#replace_distribution_list_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
