=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class DraftsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approve a pending draft (human)
    # Sends the draft exactly as reviewed, through the agent stream (loop detector included). Fires draft.approved.
    # @param draft_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_drafts_draft_id_approve_post(draft_id, opts = {})
      data, _status_code, _headers = v1_drafts_draft_id_approve_post_with_http_info(draft_id, opts)
      data
    end

    # Approve a pending draft (human)
    # Sends the draft exactly as reviewed, through the agent stream (loop detector included). Fires draft.approved.
    # @param draft_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_drafts_draft_id_approve_post_with_http_info(draft_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.v1_drafts_draft_id_approve_post ...'
      end
      # verify the required parameter 'draft_id' is set
      if @api_client.config.client_side_validation && draft_id.nil?
        fail ArgumentError, "Missing the required parameter 'draft_id' when calling DraftsApi.v1_drafts_draft_id_approve_post"
      end
      # resource path
      local_var_path = '/v1/drafts/{draftID}/approve'.sub('{draftID}', CGI.escape(draft_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DraftsApi.v1_drafts_draft_id_approve_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#v1_drafts_draft_id_approve_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Withdraw a pending draft
    # Only the API key that created the draft may cancel it.
    # @param draft_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_drafts_draft_id_cancel_post(draft_id, opts = {})
      data, _status_code, _headers = v1_drafts_draft_id_cancel_post_with_http_info(draft_id, opts)
      data
    end

    # Withdraw a pending draft
    # Only the API key that created the draft may cancel it.
    # @param draft_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_drafts_draft_id_cancel_post_with_http_info(draft_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.v1_drafts_draft_id_cancel_post ...'
      end
      # verify the required parameter 'draft_id' is set
      if @api_client.config.client_side_validation && draft_id.nil?
        fail ArgumentError, "Missing the required parameter 'draft_id' when calling DraftsApi.v1_drafts_draft_id_cancel_post"
      end
      # resource path
      local_var_path = '/v1/drafts/{draftID}/cancel'.sub('{draftID}', CGI.escape(draft_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DraftsApi.v1_drafts_draft_id_cancel_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#v1_drafts_draft_id_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a draft
    # @param draft_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_drafts_draft_id_get(draft_id, opts = {})
      data, _status_code, _headers = v1_drafts_draft_id_get_with_http_info(draft_id, opts)
      data
    end

    # Get a draft
    # @param draft_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_drafts_draft_id_get_with_http_info(draft_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.v1_drafts_draft_id_get ...'
      end
      # verify the required parameter 'draft_id' is set
      if @api_client.config.client_side_validation && draft_id.nil?
        fail ArgumentError, "Missing the required parameter 'draft_id' when calling DraftsApi.v1_drafts_draft_id_get"
      end
      # resource path
      local_var_path = '/v1/drafts/{draftID}'.sub('{draftID}', CGI.escape(draft_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DraftsApi.v1_drafts_draft_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#v1_drafts_draft_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reject a pending draft (human)
    # Body: {\"reason\": \"...\"} (optional). Fires draft.rejected.
    # @param draft_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_drafts_draft_id_reject_post(draft_id, opts = {})
      data, _status_code, _headers = v1_drafts_draft_id_reject_post_with_http_info(draft_id, opts)
      data
    end

    # Reject a pending draft (human)
    # Body: {\&quot;reason\&quot;: \&quot;...\&quot;} (optional). Fires draft.rejected.
    # @param draft_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_drafts_draft_id_reject_post_with_http_info(draft_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.v1_drafts_draft_id_reject_post ...'
      end
      # verify the required parameter 'draft_id' is set
      if @api_client.config.client_side_validation && draft_id.nil?
        fail ArgumentError, "Missing the required parameter 'draft_id' when calling DraftsApi.v1_drafts_draft_id_reject_post"
      end
      # resource path
      local_var_path = '/v1/drafts/{draftID}/reject'.sub('{draftID}', CGI.escape(draft_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DraftsApi.v1_drafts_draft_id_reject_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#v1_drafts_draft_id_reject_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List drafts
    # Filter with ?status=pending_approval|sent|rejected|cancelled. Keys see drafts of granted mailboxes; admin sessions see all.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @return [Object]
    def v1_drafts_get(opts = {})
      data, _status_code, _headers = v1_drafts_get_with_http_info(opts)
      data
    end

    # List drafts
    # Filter with ?status&#x3D;pending_approval|sent|rejected|cancelled. Keys see drafts of granted mailboxes; admin sessions see all.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_drafts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.v1_drafts_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DraftsApi.v1_drafts_get, must be smaller than or equal to 200.'
      end

      # resource path
      local_var_path = '/v1/drafts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DraftsApi.v1_drafts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#v1_drafts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Propose a new conversation as a draft
    # New-conversation drafts ALWAYS require human approval (policy flag new_thread). Idempotency-Key required.
    # @param mailbox [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_inboxes_mailbox_drafts_post(mailbox, idempotency_key, opts = {})
      data, _status_code, _headers = v1_inboxes_mailbox_drafts_post_with_http_info(mailbox, idempotency_key, opts)
      data
    end

    # Propose a new conversation as a draft
    # New-conversation drafts ALWAYS require human approval (policy flag new_thread). Idempotency-Key required.
    # @param mailbox [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_inboxes_mailbox_drafts_post_with_http_info(mailbox, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.v1_inboxes_mailbox_drafts_post ...'
      end
      # verify the required parameter 'mailbox' is set
      if @api_client.config.client_side_validation && mailbox.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox' when calling DraftsApi.v1_inboxes_mailbox_drafts_post"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling DraftsApi.v1_inboxes_mailbox_drafts_post"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling DraftsApi.v1_inboxes_mailbox_drafts_post, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/v1/inboxes/{mailbox}/drafts'.sub('{mailbox}', CGI.escape(mailbox.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DraftsApi.v1_inboxes_mailbox_drafts_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#v1_inboxes_mailbox_drafts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Propose a reply as a draft
    # The safe default over /reply: the deterministic policy engine auto-sends clean in-thread replies and holds anything risky (PII, new recipients, injection-flagged threads, always-approve mailboxes) for human approval. Fires draft.pending_approval when held. Idempotency-Key required.
    # @param thread_id [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_threads_thread_id_drafts_post(thread_id, idempotency_key, opts = {})
      data, _status_code, _headers = v1_threads_thread_id_drafts_post_with_http_info(thread_id, idempotency_key, opts)
      data
    end

    # Propose a reply as a draft
    # The safe default over /reply: the deterministic policy engine auto-sends clean in-thread replies and holds anything risky (PII, new recipients, injection-flagged threads, always-approve mailboxes) for human approval. Fires draft.pending_approval when held. Idempotency-Key required.
    # @param thread_id [String] 
    # @param idempotency_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_threads_thread_id_drafts_post_with_http_info(thread_id, idempotency_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.v1_threads_thread_id_drafts_post ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling DraftsApi.v1_threads_thread_id_drafts_post"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling DraftsApi.v1_threads_thread_id_drafts_post"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling DraftsApi.v1_threads_thread_id_drafts_post, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/v1/threads/{threadID}/drafts'.sub('{threadID}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DraftsApi.v1_threads_thread_id_drafts_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#v1_threads_thread_id_drafts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
