=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class EncryptionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch-lookup public keys by email
    # @param emails [String] Comma-separated list of email addresses
    # @param [Hash] opts the optional parameters
    # @return [BatchLookupPublicKeys200Response]
    def batch_lookup_public_keys(emails, opts = {})
      data, _status_code, _headers = batch_lookup_public_keys_with_http_info(emails, opts)
      data
    end

    # Batch-lookup public keys by email
    # @param emails [String] Comma-separated list of email addresses
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchLookupPublicKeys200Response, Integer, Hash)>] BatchLookupPublicKeys200Response data, response status code and response headers
    def batch_lookup_public_keys_with_http_info(emails, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncryptionApi.batch_lookup_public_keys ...'
      end
      # verify the required parameter 'emails' is set
      if @api_client.config.client_side_validation && emails.nil?
        fail ArgumentError, "Missing the required parameter 'emails' when calling EncryptionApi.batch_lookup_public_keys"
      end
      # resource path
      local_var_path = '/v1/encryption/keys/lookup'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'emails'] = emails

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BatchLookupPublicKeys200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EncryptionApi.batch_lookup_public_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncryptionApi#batch_lookup_public_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload an encryption key pair
    # @param create_encryption_key_request [CreateEncryptionKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateEncryptionKey201Response]
    def create_encryption_key(create_encryption_key_request, opts = {})
      data, _status_code, _headers = create_encryption_key_with_http_info(create_encryption_key_request, opts)
      data
    end

    # Upload an encryption key pair
    # @param create_encryption_key_request [CreateEncryptionKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEncryptionKey201Response, Integer, Hash)>] CreateEncryptionKey201Response data, response status code and response headers
    def create_encryption_key_with_http_info(create_encryption_key_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncryptionApi.create_encryption_key ...'
      end
      # verify the required parameter 'create_encryption_key_request' is set
      if @api_client.config.client_side_validation && create_encryption_key_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_encryption_key_request' when calling EncryptionApi.create_encryption_key"
      end
      # resource path
      local_var_path = '/v1/encryption/keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_encryption_key_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEncryptionKey201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EncryptionApi.create_encryption_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncryptionApi#create_encryption_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Store an encryption recovery blob
    # @param create_encryption_recovery_request [CreateEncryptionRecoveryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_encryption_recovery(create_encryption_recovery_request, opts = {})
      create_encryption_recovery_with_http_info(create_encryption_recovery_request, opts)
      nil
    end

    # Store an encryption recovery blob
    # @param create_encryption_recovery_request [CreateEncryptionRecoveryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_encryption_recovery_with_http_info(create_encryption_recovery_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncryptionApi.create_encryption_recovery ...'
      end
      # verify the required parameter 'create_encryption_recovery_request' is set
      if @api_client.config.client_side_validation && create_encryption_recovery_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_encryption_recovery_request' when calling EncryptionApi.create_encryption_recovery"
      end
      # resource path
      local_var_path = '/v1/encryption/recovery'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_encryption_recovery_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EncryptionApi.create_encryption_recovery",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncryptionApi#create_encryption_recovery\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get encryption key for a mailbox
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetEncryptionKey200Response]
    def get_encryption_key(email, opts = {})
      data, _status_code, _headers = get_encryption_key_with_http_info(email, opts)
      data
    end

    # Get encryption key for a mailbox
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEncryptionKey200Response, Integer, Hash)>] GetEncryptionKey200Response data, response status code and response headers
    def get_encryption_key_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncryptionApi.get_encryption_key ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling EncryptionApi.get_encryption_key"
      end
      # resource path
      local_var_path = '/v1/encryption/keys/{email}'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEncryptionKey200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EncryptionApi.get_encryption_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncryptionApi#get_encryption_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate an encryption key
    # @param rotate_encryption_key_request [RotateEncryptionKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def rotate_encryption_key(rotate_encryption_key_request, opts = {})
      rotate_encryption_key_with_http_info(rotate_encryption_key_request, opts)
      nil
    end

    # Rotate an encryption key
    # @param rotate_encryption_key_request [RotateEncryptionKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rotate_encryption_key_with_http_info(rotate_encryption_key_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncryptionApi.rotate_encryption_key ...'
      end
      # verify the required parameter 'rotate_encryption_key_request' is set
      if @api_client.config.client_side_validation && rotate_encryption_key_request.nil?
        fail ArgumentError, "Missing the required parameter 'rotate_encryption_key_request' when calling EncryptionApi.rotate_encryption_key"
      end
      # resource path
      local_var_path = '/v1/encryption/keys/rotate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rotate_encryption_key_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EncryptionApi.rotate_encryption_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncryptionApi#rotate_encryption_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
