=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class IpPoolsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Request a dedicated IP
    # @param create_dedicated_ip_request_request [CreateDedicatedIPRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DedicatedIPRequest]
    def create_dedicated_ip_request(create_dedicated_ip_request_request, opts = {})
      data, _status_code, _headers = create_dedicated_ip_request_with_http_info(create_dedicated_ip_request_request, opts)
      data
    end

    # Request a dedicated IP
    # @param create_dedicated_ip_request_request [CreateDedicatedIPRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DedicatedIPRequest, Integer, Hash)>] DedicatedIPRequest data, response status code and response headers
    def create_dedicated_ip_request_with_http_info(create_dedicated_ip_request_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpPoolsApi.create_dedicated_ip_request ...'
      end
      # verify the required parameter 'create_dedicated_ip_request_request' is set
      if @api_client.config.client_side_validation && create_dedicated_ip_request_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_dedicated_ip_request_request' when calling IpPoolsApi.create_dedicated_ip_request"
      end
      # resource path
      local_var_path = '/v1/dedicated-ip-requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_dedicated_ip_request_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DedicatedIPRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IpPoolsApi.create_dedicated_ip_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpPoolsApi#create_dedicated_ip_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current IP assignment
    # @param [Hash] opts the optional parameters
    # @return [GetIPAssignment200Response]
    def get_ip_assignment(opts = {})
      data, _status_code, _headers = get_ip_assignment_with_http_info(opts)
      data
    end

    # Get current IP assignment
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetIPAssignment200Response, Integer, Hash)>] GetIPAssignment200Response data, response status code and response headers
    def get_ip_assignment_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpPoolsApi.get_ip_assignment ...'
      end
      # resource path
      local_var_path = '/v1/ip-assignment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetIPAssignment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IpPoolsApi.get_ip_assignment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpPoolsApi#get_ip_assignment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List dedicated IP requests
    # @param [Hash] opts the optional parameters
    # @return [ListDedicatedIPRequests200Response]
    def list_dedicated_ip_requests(opts = {})
      data, _status_code, _headers = list_dedicated_ip_requests_with_http_info(opts)
      data
    end

    # List dedicated IP requests
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListDedicatedIPRequests200Response, Integer, Hash)>] ListDedicatedIPRequests200Response data, response status code and response headers
    def list_dedicated_ip_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpPoolsApi.list_dedicated_ip_requests ...'
      end
      # resource path
      local_var_path = '/v1/dedicated-ip-requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListDedicatedIPRequests200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IpPoolsApi.list_dedicated_ip_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpPoolsApi#list_dedicated_ip_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
