=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class MailboxesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a shared mailbox member
    # @param email [String] 
    # @param add_shared_member_request [AddSharedMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SharedMember]
    def add_shared_member(email, add_shared_member_request, opts = {})
      data, _status_code, _headers = add_shared_member_with_http_info(email, add_shared_member_request, opts)
      data
    end

    # Add a shared mailbox member
    # @param email [String] 
    # @param add_shared_member_request [AddSharedMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SharedMember, Integer, Hash)>] SharedMember data, response status code and response headers
    def add_shared_member_with_http_info(email, add_shared_member_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.add_shared_member ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.add_shared_member"
      end
      # verify the required parameter 'add_shared_member_request' is set
      if @api_client.config.client_side_validation && add_shared_member_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_shared_member_request' when calling MailboxesApi.add_shared_member"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{email}/members'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_shared_member_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SharedMember'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.add_shared_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#add_shared_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List shared mailbox members
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListSharedMembers200Response]
    def list_shared_members(email, opts = {})
      data, _status_code, _headers = list_shared_members_with_http_info(email, opts)
      data
    end

    # List shared mailbox members
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListSharedMembers200Response, Integer, Hash)>] ListSharedMembers200Response data, response status code and response headers
    def list_shared_members_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.list_shared_members ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.list_shared_members"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{email}/members'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSharedMembers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.list_shared_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#list_shared_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a shared mailbox member
    # @param email [String] 
    # @param member_email [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_shared_member(email, member_email, opts = {})
      remove_shared_member_with_http_info(email, member_email, opts)
      nil
    end

    # Remove a shared mailbox member
    # @param email [String] 
    # @param member_email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_shared_member_with_http_info(email, member_email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.remove_shared_member ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.remove_shared_member"
      end
      # verify the required parameter 'member_email' is set
      if @api_client.config.client_side_validation && member_email.nil?
        fail ArgumentError, "Missing the required parameter 'member_email' when calling MailboxesApi.remove_shared_member"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{email}/members/{memberEmail}'.sub('{email}', CGI.escape(email.to_s)).sub('{memberEmail}', CGI.escape(member_email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.remove_shared_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#remove_shared_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Soft-delete a mailbox
    # Sets `soft_deleted_at = now()` and `hard_delete_after = now() + 90d` per design D25. A background sweep (planned) will hard-delete after the window. The mailbox is also disabled immediately. 
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_mailboxes_email_delete(email, opts = {})
      v1_mailboxes_email_delete_with_http_info(email, opts)
      nil
    end

    # Soft-delete a mailbox
    # Sets &#x60;soft_deleted_at &#x3D; now()&#x60; and &#x60;hard_delete_after &#x3D; now() + 90d&#x60; per design D25. A background sweep (planned) will hard-delete after the window. The mailbox is also disabled immediately. 
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_mailboxes_email_delete_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.v1_mailboxes_email_delete ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.v1_mailboxes_email_delete"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{email}'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.v1_mailboxes_email_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#v1_mailboxes_email_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download a previously-issued mailbox export
    # Public endpoint (no Authorization header). Validates the one-shot token from the URL, marks it used, and streams an mbox file. Second GET with the same token returns 404 — tokens are single-use. 
    # @param email [String] 
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def v1_mailboxes_email_export_download_get(email, token, opts = {})
      data, _status_code, _headers = v1_mailboxes_email_export_download_get_with_http_info(email, token, opts)
      data
    end

    # Download a previously-issued mailbox export
    # Public endpoint (no Authorization header). Validates the one-shot token from the URL, marks it used, and streams an mbox file. Second GET with the same token returns 404 — tokens are single-use. 
    # @param email [String] 
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def v1_mailboxes_email_export_download_get_with_http_info(email, token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.v1_mailboxes_email_export_download_get ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.v1_mailboxes_email_export_download_get"
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling MailboxesApi.v1_mailboxes_email_export_download_get"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{email}/export/download'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/mbox', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MailboxesApi.v1_mailboxes_email_export_download_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#v1_mailboxes_email_export_download_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request a mailbox export
    # Issues a one-shot \"presigned\" download URL for the mailbox's content in mbox format. The URL works without an Authorization header — the token in the query string is the authz. TTL is 5 minutes; the token is consumed on first GET.  **v1 caveat:** the synthesized mbox only contains outbound mail (from `lockally.messages`). v2 swaps in Stalwart's export primitive for full inbox + folder structure + flags. The endpoint contract stays unchanged. 
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [V1MailboxesEmailExportPost201Response]
    def v1_mailboxes_email_export_post(email, opts = {})
      data, _status_code, _headers = v1_mailboxes_email_export_post_with_http_info(email, opts)
      data
    end

    # Request a mailbox export
    # Issues a one-shot \&quot;presigned\&quot; download URL for the mailbox&#39;s content in mbox format. The URL works without an Authorization header — the token in the query string is the authz. TTL is 5 minutes; the token is consumed on first GET.  **v1 caveat:** the synthesized mbox only contains outbound mail (from &#x60;lockally.messages&#x60;). v2 swaps in Stalwart&#39;s export primitive for full inbox + folder structure + flags. The endpoint contract stays unchanged. 
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1MailboxesEmailExportPost201Response, Integer, Hash)>] V1MailboxesEmailExportPost201Response data, response status code and response headers
    def v1_mailboxes_email_export_post_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.v1_mailboxes_email_export_post ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.v1_mailboxes_email_export_post"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{email}/export'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1MailboxesEmailExportPost201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.v1_mailboxes_email_export_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#v1_mailboxes_email_export_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a mailbox
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Mailbox]
    def v1_mailboxes_email_get(email, opts = {})
      data, _status_code, _headers = v1_mailboxes_email_get_with_http_info(email, opts)
      data
    end

    # Get a mailbox
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Mailbox, Integer, Hash)>] Mailbox data, response status code and response headers
    def v1_mailboxes_email_get_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.v1_mailboxes_email_get ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.v1_mailboxes_email_get"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{email}'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Mailbox'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.v1_mailboxes_email_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#v1_mailboxes_email_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a mailbox
    # Supply at least one of `password`, `quota_bytes`, `disabled`. Returns the updated mailbox. 
    # @param email [String] 
    # @param v1_mailboxes_email_patch_request [V1MailboxesEmailPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Mailbox]
    def v1_mailboxes_email_patch(email, v1_mailboxes_email_patch_request, opts = {})
      data, _status_code, _headers = v1_mailboxes_email_patch_with_http_info(email, v1_mailboxes_email_patch_request, opts)
      data
    end

    # Update a mailbox
    # Supply at least one of &#x60;password&#x60;, &#x60;quota_bytes&#x60;, &#x60;disabled&#x60;. Returns the updated mailbox. 
    # @param email [String] 
    # @param v1_mailboxes_email_patch_request [V1MailboxesEmailPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Mailbox, Integer, Hash)>] Mailbox data, response status code and response headers
    def v1_mailboxes_email_patch_with_http_info(email, v1_mailboxes_email_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.v1_mailboxes_email_patch ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.v1_mailboxes_email_patch"
      end
      # verify the required parameter 'v1_mailboxes_email_patch_request' is set
      if @api_client.config.client_side_validation && v1_mailboxes_email_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_mailboxes_email_patch_request' when calling MailboxesApi.v1_mailboxes_email_patch"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{email}'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_mailboxes_email_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Mailbox'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.v1_mailboxes_email_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#v1_mailboxes_email_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove the vacation responder
    # Idempotent — 204 whether or not a row existed.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_mailboxes_email_vacation_delete(email, opts = {})
      v1_mailboxes_email_vacation_delete_with_http_info(email, opts)
      nil
    end

    # Remove the vacation responder
    # Idempotent — 204 whether or not a row existed.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_mailboxes_email_vacation_delete_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.v1_mailboxes_email_vacation_delete ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.v1_mailboxes_email_vacation_delete"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{email}/vacation'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.v1_mailboxes_email_vacation_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#v1_mailboxes_email_vacation_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the vacation responder
    # Returns the stored vacation rule or 404 if none is set.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [VacationResponder]
    def v1_mailboxes_email_vacation_get(email, opts = {})
      data, _status_code, _headers = v1_mailboxes_email_vacation_get_with_http_info(email, opts)
      data
    end

    # Get the vacation responder
    # Returns the stored vacation rule or 404 if none is set.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VacationResponder, Integer, Hash)>] VacationResponder data, response status code and response headers
    def v1_mailboxes_email_vacation_get_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.v1_mailboxes_email_vacation_get ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.v1_mailboxes_email_vacation_get"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{email}/vacation'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VacationResponder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.v1_mailboxes_email_vacation_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#v1_mailboxes_email_vacation_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the vacation responder
    # Upsert — same endpoint creates or replaces the rule. Clears `synced_at`; the rule is staged on lockally until a sync worker pushes it to the mail server. 
    # @param email [String] 
    # @param v1_mailboxes_email_vacation_put_request [V1MailboxesEmailVacationPutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VacationResponder]
    def v1_mailboxes_email_vacation_put(email, v1_mailboxes_email_vacation_put_request, opts = {})
      data, _status_code, _headers = v1_mailboxes_email_vacation_put_with_http_info(email, v1_mailboxes_email_vacation_put_request, opts)
      data
    end

    # Set the vacation responder
    # Upsert — same endpoint creates or replaces the rule. Clears &#x60;synced_at&#x60;; the rule is staged on lockally until a sync worker pushes it to the mail server. 
    # @param email [String] 
    # @param v1_mailboxes_email_vacation_put_request [V1MailboxesEmailVacationPutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VacationResponder, Integer, Hash)>] VacationResponder data, response status code and response headers
    def v1_mailboxes_email_vacation_put_with_http_info(email, v1_mailboxes_email_vacation_put_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.v1_mailboxes_email_vacation_put ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailboxesApi.v1_mailboxes_email_vacation_put"
      end
      # verify the required parameter 'v1_mailboxes_email_vacation_put_request' is set
      if @api_client.config.client_side_validation && v1_mailboxes_email_vacation_put_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_mailboxes_email_vacation_put_request' when calling MailboxesApi.v1_mailboxes_email_vacation_put"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{email}/vacation'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_mailboxes_email_vacation_put_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VacationResponder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.v1_mailboxes_email_vacation_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#v1_mailboxes_email_vacation_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List mailboxes
    # Returns mailboxes under the calling tenant — active and soft-deleted. `?limit=N` between 1 and 200 (default 50). 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @return [V1MailboxesGet200Response]
    def v1_mailboxes_get(opts = {})
      data, _status_code, _headers = v1_mailboxes_get_with_http_info(opts)
      data
    end

    # List mailboxes
    # Returns mailboxes under the calling tenant — active and soft-deleted. &#x60;?limit&#x3D;N&#x60; between 1 and 200 (default 50). 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(V1MailboxesGet200Response, Integer, Hash)>] V1MailboxesGet200Response data, response status code and response headers
    def v1_mailboxes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.v1_mailboxes_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxesApi.v1_mailboxes_get, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MailboxesApi.v1_mailboxes_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/mailboxes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1MailboxesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.v1_mailboxes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#v1_mailboxes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a mailbox
    # Creates a mailbox on a tenant-verified domain. If `password` is omitted, lockally generates a 16-char password and returns it in the response — shown once.  **Gate.** The mailbox's domain must already be registered AND verified for this tenant (via `/v1/domains` + `/v1/domains/{domain}/verify`).  **Idempotent.** Re-posting the same email returns the existing mailbox UNTOUCHED — password is NOT regenerated. To change a password, use PATCH instead. 
    # @param v1_mailboxes_post_request [V1MailboxesPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Mailbox]
    def v1_mailboxes_post(v1_mailboxes_post_request, opts = {})
      data, _status_code, _headers = v1_mailboxes_post_with_http_info(v1_mailboxes_post_request, opts)
      data
    end

    # Create a mailbox
    # Creates a mailbox on a tenant-verified domain. If &#x60;password&#x60; is omitted, lockally generates a 16-char password and returns it in the response — shown once.  **Gate.** The mailbox&#39;s domain must already be registered AND verified for this tenant (via &#x60;/v1/domains&#x60; + &#x60;/v1/domains/{domain}/verify&#x60;).  **Idempotent.** Re-posting the same email returns the existing mailbox UNTOUCHED — password is NOT regenerated. To change a password, use PATCH instead. 
    # @param v1_mailboxes_post_request [V1MailboxesPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Mailbox, Integer, Hash)>] Mailbox data, response status code and response headers
    def v1_mailboxes_post_with_http_info(v1_mailboxes_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.v1_mailboxes_post ...'
      end
      # verify the required parameter 'v1_mailboxes_post_request' is set
      if @api_client.config.client_side_validation && v1_mailboxes_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_mailboxes_post_request' when calling MailboxesApi.v1_mailboxes_post"
      end
      # resource path
      local_var_path = '/v1/mailboxes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_mailboxes_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Mailbox'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.v1_mailboxes_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#v1_mailboxes_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all vacation responders
    # Returns every vacation responder for the calling tenant.
    # @param [Hash] opts the optional parameters
    # @return [V1VacationGet200Response]
    def v1_vacation_get(opts = {})
      data, _status_code, _headers = v1_vacation_get_with_http_info(opts)
      data
    end

    # List all vacation responders
    # Returns every vacation responder for the calling tenant.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1VacationGet200Response, Integer, Hash)>] V1VacationGet200Response data, response status code and response headers
    def v1_vacation_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailboxesApi.v1_vacation_get ...'
      end
      # resource path
      local_var_path = '/v1/vacation'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1VacationGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MailboxesApi.v1_vacation_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailboxesApi#v1_vacation_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
