=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class MigrationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a running migration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DiscoverMigration202Response]
    def cancel_migration(id, opts = {})
      data, _status_code, _headers = cancel_migration_with_http_info(id, opts)
      data
    end

    # Cancel a running migration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiscoverMigration202Response, Integer, Hash)>] DiscoverMigration202Response data, response status code and response headers
    def cancel_migration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.cancel_migration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.cancel_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/cancel'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiscoverMigration202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.cancel_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#cancel_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check DNS readiness for cutover
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def check_migration_dns(id, opts = {})
      data, _status_code, _headers = check_migration_dns_with_http_info(id, opts)
      data
    end

    # Check DNS readiness for cutover
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def check_migration_dns_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.check_migration_dns ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.check_migration_dns"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/dns-check'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.check_migration_dns",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#check_migration_dns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a migration
    # @param create_migration_request [CreateMigrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Migration]
    def create_migration(create_migration_request, opts = {})
      data, _status_code, _headers = create_migration_with_http_info(create_migration_request, opts)
      data
    end

    # Create a migration
    # @param create_migration_request [CreateMigrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Migration, Integer, Hash)>] Migration data, response status code and response headers
    def create_migration_with_http_info(create_migration_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.create_migration ...'
      end
      # verify the required parameter 'create_migration_request' is set
      if @api_client.config.client_side_validation && create_migration_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_migration_request' when calling MigrationsApi.create_migration"
      end
      # resource path
      local_var_path = '/v1/migrations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_migration_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Migration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.create_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#create_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Store a migration credential
    # @param create_migration_credential_request [CreateMigrationCredentialRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MigrationCredential]
    def create_migration_credential(create_migration_credential_request, opts = {})
      data, _status_code, _headers = create_migration_credential_with_http_info(create_migration_credential_request, opts)
      data
    end

    # Store a migration credential
    # @param create_migration_credential_request [CreateMigrationCredentialRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MigrationCredential, Integer, Hash)>] MigrationCredential data, response status code and response headers
    def create_migration_credential_with_http_info(create_migration_credential_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.create_migration_credential ...'
      end
      # verify the required parameter 'create_migration_credential_request' is set
      if @api_client.config.client_side_validation && create_migration_credential_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_migration_credential_request' when calling MigrationsApi.create_migration_credential"
      end
      # resource path
      local_var_path = '/v1/migrations/credentials'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_migration_credential_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MigrationCredential'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.create_migration_credential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#create_migration_credential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a migration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_migration(id, opts = {})
      delete_migration_with_http_info(id, opts)
      nil
    end

    # Delete a migration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_migration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.delete_migration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.delete_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.delete_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#delete_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a migration credential
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_migration_credential(id, opts = {})
      delete_migration_credential_with_http_info(id, opts)
      nil
    end

    # Delete a migration credential
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_migration_credential_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.delete_migration_credential ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.delete_migration_credential"
      end
      # resource path
      local_var_path = '/v1/migrations/credentials/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.delete_migration_credential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#delete_migration_credential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run a delta sync
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StartMigration202Response]
    def delta_sync_migration(id, opts = {})
      data, _status_code, _headers = delta_sync_migration_with_http_info(id, opts)
      data
    end

    # Run a delta sync
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StartMigration202Response, Integer, Hash)>] StartMigration202Response data, response status code and response headers
    def delta_sync_migration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.delta_sync_migration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.delta_sync_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/delta-sync'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StartMigration202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.delta_sync_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#delta_sync_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Discover source mailboxes
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DiscoverMigration202Response]
    def discover_migration(id, opts = {})
      data, _status_code, _headers = discover_migration_with_http_info(id, opts)
      data
    end

    # Discover source mailboxes
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiscoverMigration202Response, Integer, Hash)>] DiscoverMigration202Response data, response status code and response headers
    def discover_migration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.discover_migration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.discover_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/discover'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiscoverMigration202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.discover_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#discover_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run the final sync before cutover
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StartMigration202Response]
    def final_sync_migration(id, opts = {})
      data, _status_code, _headers = final_sync_migration_with_http_info(id, opts)
      data
    end

    # Run the final sync before cutover
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StartMigration202Response, Integer, Hash)>] StartMigration202Response data, response status code and response headers
    def final_sync_migration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.final_sync_migration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.final_sync_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/final-sync'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StartMigration202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.final_sync_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#final_sync_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a migration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Migration]
    def get_migration(id, opts = {})
      data, _status_code, _headers = get_migration_with_http_info(id, opts)
      data
    end

    # Get a migration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Migration, Integer, Hash)>] Migration data, response status code and response headers
    def get_migration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.get_migration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.get_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Migration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.get_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#get_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get migration progress
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MigrationProgress]
    def get_migration_progress(id, opts = {})
      data, _status_code, _headers = get_migration_progress_with_http_info(id, opts)
      data
    end

    # Get migration progress
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MigrationProgress, Integer, Hash)>] MigrationProgress data, response status code and response headers
    def get_migration_progress_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.get_migration_progress ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.get_migration_progress"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/progress'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MigrationProgress'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.get_migration_progress",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#get_migration_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List migration credentials
    # @param [Hash] opts the optional parameters
    # @return [ListMigrationCredentials200Response]
    def list_migration_credentials(opts = {})
      data, _status_code, _headers = list_migration_credentials_with_http_info(opts)
      data
    end

    # List migration credentials
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListMigrationCredentials200Response, Integer, Hash)>] ListMigrationCredentials200Response data, response status code and response headers
    def list_migration_credentials_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.list_migration_credentials ...'
      end
      # resource path
      local_var_path = '/v1/migrations/credentials'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMigrationCredentials200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.list_migration_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#list_migration_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List migration events
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListMigrationEvents200Response]
    def list_migration_events(id, opts = {})
      data, _status_code, _headers = list_migration_events_with_http_info(id, opts)
      data
    end

    # List migration events
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListMigrationEvents200Response, Integer, Hash)>] ListMigrationEvents200Response data, response status code and response headers
    def list_migration_events_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.list_migration_events ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.list_migration_events"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/events'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMigrationEvents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.list_migration_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#list_migration_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List migration mailboxes
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListMigrationMailboxes200Response]
    def list_migration_mailboxes(id, opts = {})
      data, _status_code, _headers = list_migration_mailboxes_with_http_info(id, opts)
      data
    end

    # List migration mailboxes
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListMigrationMailboxes200Response, Integer, Hash)>] ListMigrationMailboxes200Response data, response status code and response headers
    def list_migration_mailboxes_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.list_migration_mailboxes ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.list_migration_mailboxes"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/mailboxes'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMigrationMailboxes200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.list_migration_mailboxes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#list_migration_mailboxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List migrations
    # @param [Hash] opts the optional parameters
    # @return [ListMigrations200Response]
    def list_migrations(opts = {})
      data, _status_code, _headers = list_migrations_with_http_info(opts)
      data
    end

    # List migrations
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListMigrations200Response, Integer, Hash)>] ListMigrations200Response data, response status code and response headers
    def list_migrations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.list_migrations ...'
      end
      # resource path
      local_var_path = '/v1/migrations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMigrations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.list_migrations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#list_migrations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Map source to destination mailboxes
    # @param id [String] 
    # @param map_migration_request [MapMigrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DiscoverMigration202Response]
    def map_migration(id, map_migration_request, opts = {})
      data, _status_code, _headers = map_migration_with_http_info(id, map_migration_request, opts)
      data
    end

    # Map source to destination mailboxes
    # @param id [String] 
    # @param map_migration_request [MapMigrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiscoverMigration202Response, Integer, Hash)>] DiscoverMigration202Response data, response status code and response headers
    def map_migration_with_http_info(id, map_migration_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.map_migration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.map_migration"
      end
      # verify the required parameter 'map_migration_request' is set
      if @api_client.config.client_side_validation && map_migration_request.nil?
        fail ArgumentError, "Missing the required parameter 'map_migration_request' when calling MigrationsApi.map_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/map'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(map_migration_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DiscoverMigration202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.map_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#map_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry a failed or cancelled migration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DiscoverMigration202Response]
    def retry_migration(id, opts = {})
      data, _status_code, _headers = retry_migration_with_http_info(id, opts)
      data
    end

    # Retry a failed or cancelled migration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiscoverMigration202Response, Integer, Hash)>] DiscoverMigration202Response data, response status code and response headers
    def retry_migration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.retry_migration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.retry_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/retry'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiscoverMigration202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.retry_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#retry_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start the migration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StartMigration202Response]
    def start_migration(id, opts = {})
      data, _status_code, _headers = start_migration_with_http_info(id, opts)
      data
    end

    # Start the migration
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StartMigration202Response, Integer, Hash)>] StartMigration202Response data, response status code and response headers
    def start_migration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.start_migration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.start_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/start'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StartMigration202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.start_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#start_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a migration
    # @param id [String] 
    # @param update_migration_request [UpdateMigrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Migration]
    def update_migration(id, update_migration_request, opts = {})
      data, _status_code, _headers = update_migration_with_http_info(id, update_migration_request, opts)
      data
    end

    # Update a migration
    # @param id [String] 
    # @param update_migration_request [UpdateMigrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Migration, Integer, Hash)>] Migration data, response status code and response headers
    def update_migration_with_http_info(id, update_migration_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.update_migration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.update_migration"
      end
      # verify the required parameter 'update_migration_request' is set
      if @api_client.config.client_side_validation && update_migration_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_migration_request' when calling MigrationsApi.update_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_migration_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Migration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.update_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#update_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a migration mailbox
    # @param id [String] 
    # @param mbx_id [String] 
    # @param update_migration_mailbox_request [UpdateMigrationMailboxRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_migration_mailbox(id, mbx_id, update_migration_mailbox_request, opts = {})
      update_migration_mailbox_with_http_info(id, mbx_id, update_migration_mailbox_request, opts)
      nil
    end

    # Update a migration mailbox
    # @param id [String] 
    # @param mbx_id [String] 
    # @param update_migration_mailbox_request [UpdateMigrationMailboxRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_migration_mailbox_with_http_info(id, mbx_id, update_migration_mailbox_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.update_migration_mailbox ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.update_migration_mailbox"
      end
      # verify the required parameter 'mbx_id' is set
      if @api_client.config.client_side_validation && mbx_id.nil?
        fail ArgumentError, "Missing the required parameter 'mbx_id' when calling MigrationsApi.update_migration_mailbox"
      end
      # verify the required parameter 'update_migration_mailbox_request' is set
      if @api_client.config.client_side_validation && update_migration_mailbox_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_migration_mailbox_request' when calling MigrationsApi.update_migration_mailbox"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/mailboxes/{mbxId}'.sub('{id}', CGI.escape(id.to_s)).sub('{mbxId}', CGI.escape(mbx_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_migration_mailbox_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.update_migration_mailbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#update_migration_mailbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate migrated data
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StartMigration202Response]
    def validate_migration(id, opts = {})
      data, _status_code, _headers = validate_migration_with_http_info(id, opts)
      data
    end

    # Validate migrated data
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StartMigration202Response, Integer, Hash)>] StartMigration202Response data, response status code and response headers
    def validate_migration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrationsApi.validate_migration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MigrationsApi.validate_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{id}/validate'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StartMigration202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrationsApi.validate_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrationsApi#validate_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
