=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class SendApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List outbound messages
    # Returns recent outbound messages for the calling tenant, sorted newest first. Backs the send-status pill in the SvelteKit /sends view and the outbound search box. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :sender Exact match against the &#x60;from&#x60; mailbox.
    # @option opts [String] :q Free-text search across subject + sender.
    # @option opts [Time] :since Only messages queued at or after this RFC 3339 instant.
    # @option opts [String] :cursor queued_at of the prior page boundary. Pass back the &#x60;next_cursor&#x60; returned by the previous call.
    # @option opts [Integer] :limit  (default to 50)
    # @return [V1MessagesGet200Response]
    def v1_messages_get(opts = {})
      data, _status_code, _headers = v1_messages_get_with_http_info(opts)
      data
    end

    # List outbound messages
    # Returns recent outbound messages for the calling tenant, sorted newest first. Backs the send-status pill in the SvelteKit /sends view and the outbound search box. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :sender Exact match against the &#x60;from&#x60; mailbox.
    # @option opts [String] :q Free-text search across subject + sender.
    # @option opts [Time] :since Only messages queued at or after this RFC 3339 instant.
    # @option opts [String] :cursor queued_at of the prior page boundary. Pass back the &#x60;next_cursor&#x60; returned by the previous call.
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(V1MessagesGet200Response, Integer, Hash)>] V1MessagesGet200Response data, response status code and response headers
    def v1_messages_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendApi.v1_messages_get ...'
      end
      allowable_values = ["queued", "sending", "delivered", "bounced", "deferred", "complaint"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SendApi.v1_messages_get, must be smaller than or equal to 200.'
      end

      # resource path
      local_var_path = '/v1/messages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'sender'] = opts[:'sender'] if !opts[:'sender'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1MessagesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendApi.v1_messages_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendApi#v1_messages_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel a scheduled send
    # Cancels a still-scheduled message (future queued_at). Already sending/sent → 409.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_messages_id_delete(id, opts = {})
      v1_messages_id_delete_with_http_info(id, opts)
      nil
    end

    # Cancel a scheduled send
    # Cancels a still-scheduled message (future queued_at). Already sending/sent → 409.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_messages_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendApi.v1_messages_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SendApi.v1_messages_id_delete"
      end
      # resource path
      local_var_path = '/v1/messages/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendApi.v1_messages_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendApi#v1_messages_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get message status
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Message]
    def v1_messages_id_get(id, opts = {})
      data, _status_code, _headers = v1_messages_id_get_with_http_info(id, opts)
      data
    end

    # Get message status
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Message, Integer, Hash)>] Message data, response status code and response headers
    def v1_messages_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendApi.v1_messages_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SendApi.v1_messages_id_get"
      end
      # resource path
      local_var_path = '/v1/messages/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Message'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendApi.v1_messages_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendApi#v1_messages_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregate delivery stats
    # Counts by delivery outcome (delivered/bounced/deferred/complaint) plus rates over a window, from the delivery-event store. Privacy-first: this reflects what receiving servers reported, NOT whether a human opened the mail — Lockally does no open/click tracking. 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from Window start (default 7 days ago).
    # @option opts [Time] :to Window end (default now).
    # @option opts [String] :domain Filter by sender domain.
    # @return [MessageStats]
    def v1_messages_stats_get(opts = {})
      data, _status_code, _headers = v1_messages_stats_get_with_http_info(opts)
      data
    end

    # Aggregate delivery stats
    # Counts by delivery outcome (delivered/bounced/deferred/complaint) plus rates over a window, from the delivery-event store. Privacy-first: this reflects what receiving servers reported, NOT whether a human opened the mail — Lockally does no open/click tracking. 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from Window start (default 7 days ago).
    # @option opts [Time] :to Window end (default now).
    # @option opts [String] :domain Filter by sender domain.
    # @return [Array<(MessageStats, Integer, Hash)>] MessageStats data, response status code and response headers
    def v1_messages_stats_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendApi.v1_messages_stats_get ...'
      end
      # resource path
      local_var_path = '/v1/messages/stats'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendApi.v1_messages_stats_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendApi#v1_messages_stats_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a batch of emails
    # Sends up to 500 messages in one call. Each is validated and enqueued independently — a bad message fails only its own slot (partial success, HTTP 200). One `Idempotency-Key` header covers the batch; per-message keys are derived as `<key>:<index>`. 
    # @param idempotency_key [String] 
    # @param v1_send_batch_post_request [V1SendBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1SendBatchPost200Response]
    def v1_send_batch_post(idempotency_key, v1_send_batch_post_request, opts = {})
      data, _status_code, _headers = v1_send_batch_post_with_http_info(idempotency_key, v1_send_batch_post_request, opts)
      data
    end

    # Send a batch of emails
    # Sends up to 500 messages in one call. Each is validated and enqueued independently — a bad message fails only its own slot (partial success, HTTP 200). One &#x60;Idempotency-Key&#x60; header covers the batch; per-message keys are derived as &#x60;&lt;key&gt;:&lt;index&gt;&#x60;. 
    # @param idempotency_key [String] 
    # @param v1_send_batch_post_request [V1SendBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1SendBatchPost200Response, Integer, Hash)>] V1SendBatchPost200Response data, response status code and response headers
    def v1_send_batch_post_with_http_info(idempotency_key, v1_send_batch_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendApi.v1_send_batch_post ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling SendApi.v1_send_batch_post"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 200
        fail ArgumentError, 'invalid value for "idempotency_key" when calling SendApi.v1_send_batch_post, the character length must be smaller than or equal to 200.'
      end

      # verify the required parameter 'v1_send_batch_post_request' is set
      if @api_client.config.client_side_validation && v1_send_batch_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_send_batch_post_request' when calling SendApi.v1_send_batch_post"
      end
      # resource path
      local_var_path = '/v1/send/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_send_batch_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1SendBatchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendApi.v1_send_batch_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendApi#v1_send_batch_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send an email
    # Submits an email for delivery via lockally. Returns 202 immediately once the message is accepted into lockally's queue; the actual SMTP submission to the recipient is async. Track delivery via `GET /v1/messages/{id}` or webhook subscriptions for `delivery.delivered` / `delivery.bounced` / `delivery.complaint`.  **Idempotency-Key required.** Per design L7 — any unique string per send, 24-hour dedupe window. Repeated calls with the same key return byte-exact the original response and do NOT create a duplicate message.  **Sender authorisation.** `from` must be a non-disabled mailbox owned by the calling tenant on a verified domain. Sending from aliases is not yet supported.  **Rate cap.** Per-tenant `rate_cap_per_min` (returned on `/v1/tenant`) is enforced — 429 with `Retry-After: 60` once tripped.  **Recipient warning.** Over 25 total recipients (To+Cc+Bcc) sets a `warning` field in the response — large fan-outs queue noticeably at scale. Hard cap is 100/send. 
    # @param idempotency_key [String] 
    # @param v1_send_post_request [V1SendPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1SendPost202Response]
    def v1_send_post(idempotency_key, v1_send_post_request, opts = {})
      data, _status_code, _headers = v1_send_post_with_http_info(idempotency_key, v1_send_post_request, opts)
      data
    end

    # Send an email
    # Submits an email for delivery via lockally. Returns 202 immediately once the message is accepted into lockally&#39;s queue; the actual SMTP submission to the recipient is async. Track delivery via &#x60;GET /v1/messages/{id}&#x60; or webhook subscriptions for &#x60;delivery.delivered&#x60; / &#x60;delivery.bounced&#x60; / &#x60;delivery.complaint&#x60;.  **Idempotency-Key required.** Per design L7 — any unique string per send, 24-hour dedupe window. Repeated calls with the same key return byte-exact the original response and do NOT create a duplicate message.  **Sender authorisation.** &#x60;from&#x60; must be a non-disabled mailbox owned by the calling tenant on a verified domain. Sending from aliases is not yet supported.  **Rate cap.** Per-tenant &#x60;rate_cap_per_min&#x60; (returned on &#x60;/v1/tenant&#x60;) is enforced — 429 with &#x60;Retry-After: 60&#x60; once tripped.  **Recipient warning.** Over 25 total recipients (To+Cc+Bcc) sets a &#x60;warning&#x60; field in the response — large fan-outs queue noticeably at scale. Hard cap is 100/send. 
    # @param idempotency_key [String] 
    # @param v1_send_post_request [V1SendPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1SendPost202Response, Integer, Hash)>] V1SendPost202Response data, response status code and response headers
    def v1_send_post_with_http_info(idempotency_key, v1_send_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendApi.v1_send_post ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling SendApi.v1_send_post"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling SendApi.v1_send_post, the character length must be smaller than or equal to 255.'
      end

      # verify the required parameter 'v1_send_post_request' is set
      if @api_client.config.client_side_validation && v1_send_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_send_post_request' when calling SendApi.v1_send_post"
      end
      # resource path
      local_var_path = '/v1/send'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_send_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1SendPost202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SendApi.v1_send_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendApi#v1_send_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
