=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class SignupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Sign up a new tenant
    # @param signup_request [SignupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1AdminLoginPost200Response]
    def signup(signup_request, opts = {})
      data, _status_code, _headers = signup_with_http_info(signup_request, opts)
      data
    end

    # Sign up a new tenant
    # @param signup_request [SignupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1AdminLoginPost200Response, Integer, Hash)>] V1AdminLoginPost200Response data, response status code and response headers
    def signup_with_http_info(signup_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignupApi.signup ...'
      end
      # verify the required parameter 'signup_request' is set
      if @api_client.config.client_side_validation && signup_request.nil?
        fail ArgumentError, "Missing the required parameter 'signup_request' when calling SignupApi.signup"
      end
      # resource path
      local_var_path = '/v1/signup'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(signup_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1AdminLoginPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SignupApi.signup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignupApi#signup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
