=begin
#lockally control plane

#The lockally control plane lets integrators and direct customers manage everything except actual mail data flow (which uses standard JMAP / IMAP / SMTP-submission against the data plane endpoints).  **Authentication.** All `/v1/*` endpoints require a Bearer API key in the `Authorization` header. Keys are formatted `lk_live_<8-char-prefix>_<32-char-secret>`. Generate the first key for a tenant via `cmd/seed`; subsequent keys via `POST /v1/api-keys`.  **Errors.** Failures return [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) `application/problem+json` documents.  **Scopes.** Each endpoint requires a specific scope on the presented key. Insufficient scope returns `403` with the required scope name in `detail`. 

The version of the OpenAPI document: 0.1.0
Contact: support@lockally.com
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Lockally
  class SuppressionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Remove a suppression
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_suppressions_email_delete(email, opts = {})
      v1_suppressions_email_delete_with_http_info(email, opts)
      nil
    end

    # Remove a suppression
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_suppressions_email_delete_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionsApi.v1_suppressions_email_delete ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling SuppressionsApi.v1_suppressions_email_delete"
      end
      # resource path
      local_var_path = '/v1/suppressions/{email}'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionsApi.v1_suppressions_email_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionsApi#v1_suppressions_email_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check whether an address is suppressed
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Suppression]
    def v1_suppressions_email_get(email, opts = {})
      data, _status_code, _headers = v1_suppressions_email_get_with_http_info(email, opts)
      data
    end

    # Check whether an address is suppressed
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Suppression, Integer, Hash)>] Suppression data, response status code and response headers
    def v1_suppressions_email_get_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionsApi.v1_suppressions_email_get ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling SuppressionsApi.v1_suppressions_email_get"
      end
      # resource path
      local_var_path = '/v1/suppressions/{email}'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Suppression'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionsApi.v1_suppressions_email_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionsApi#v1_suppressions_email_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List suppressed recipients
    # @param [Hash] opts the optional parameters
    # @option opts [String] :reason 
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 50)
    # @return [V1SuppressionsGet200Response]
    def v1_suppressions_get(opts = {})
      data, _status_code, _headers = v1_suppressions_get_with_http_info(opts)
      data
    end

    # List suppressed recipients
    # @param [Hash] opts the optional parameters
    # @option opts [String] :reason 
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(V1SuppressionsGet200Response, Integer, Hash)>] V1SuppressionsGet200Response data, response status code and response headers
    def v1_suppressions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionsApi.v1_suppressions_get ...'
      end
      allowable_values = ["unsubscribe", "complaint", "bounce", "manual"]
      if @api_client.config.client_side_validation && opts[:'reason'] && !allowable_values.include?(opts[:'reason'])
        fail ArgumentError, "invalid value for \"reason\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SuppressionsApi.v1_suppressions_get, must be smaller than or equal to 200.'
      end

      # resource path
      local_var_path = '/v1/suppressions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1SuppressionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionsApi.v1_suppressions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionsApi#v1_suppressions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a suppression
    # @param v1_suppressions_post_request [V1SuppressionsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Suppression]
    def v1_suppressions_post(v1_suppressions_post_request, opts = {})
      data, _status_code, _headers = v1_suppressions_post_with_http_info(v1_suppressions_post_request, opts)
      data
    end

    # Add a suppression
    # @param v1_suppressions_post_request [V1SuppressionsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Suppression, Integer, Hash)>] Suppression data, response status code and response headers
    def v1_suppressions_post_with_http_info(v1_suppressions_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionsApi.v1_suppressions_post ...'
      end
      # verify the required parameter 'v1_suppressions_post_request' is set
      if @api_client.config.client_side_validation && v1_suppressions_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_suppressions_post_request' when calling SuppressionsApi.v1_suppressions_post"
      end
      # resource path
      local_var_path = '/v1/suppressions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_suppressions_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Suppression'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionsApi.v1_suppressions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionsApi#v1_suppressions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
